{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'dAuction2/style.css' %}" />
<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static "js/jquery-1.11.3.js" %}"></script>
<script src="{% static "js/dAuction2-jquery.js" %}"></script>
<script src="{% static "js/dAuction2-ajax.js" %}"></script>

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>

        <div style="width:400px;padding:10px;float:right;">

            <table style="width:300px">
                <tr> <td><b>offer id</b></td>   <td><b>offer price</b> </td> <td><b>offer units</b> </td><td><b>SELL or BUY</b> </td></tr>
                {% for offer in offers %}
                                            <tr>
                            <td> {{ offer.id }} </td>
                            <td> <div id="price">{{ offer.price }}</div> </td>
                            <td> <div id="units">{{ offer.units }}</div> </td>
                            <td> <div id="sell">{{ offer.type }}</div> </td>

                                            </tr>

                {% endfor %}
            </table>


            <br> <br>


        {% if messages %}
            <strong>ERROR:</strong>
            <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}

            <form id="setOfferForm" method="post" action="/dAuction2/set_offer/">
                {% csrf_token %}
            <table class="setOfferTable" >
                <tr>
                    <td>Number of units:</td>
                    <td> <input id="unitsInput" class="unitAndPriceInput" type="number" name="unitsInput" min="0" max="9999" value="11" maxlength="4" ></td>
                </tr>
                <tr>
                    <td>Price per unit:</td>
                    <td><input id="priceInput" class="unitAndPriceInput" type="number" name="priceInput" min="0" max="9999" value="12" maxlength="4"></td>
                </tr>
                <tr>
                    <td> I want to:</td>
                    <td><input type="submit" class="btnSell" name="typeBtn" value="SELL" ><input type="submit" class="btnBuy" name="typeBtn" value="BUY">  </td>

                </tr>
            </table>
            </form>
        </div>



        <div style="width:300px;padding:10px;">
            <table>
                <tr> <td><b>player id</b></td>   <td><b>name</b> </td>     <td><b> money</b> </td>
                {% for player in players %}
                    <tr> <td> {{ player.id }} </td> <td> {{ player.name }} </td>
                        <td> {% if player.id == 1 %}<div id="like1">{{ player.money }}</div>{% endif %} {{ player.money }} </td> </tr>
                {% endfor %}
            </table>
            </div>

        <br>
        <br>
        <button id="number_of_units2">

            Increase Money</button>

        <br>
        <br>

        <button id="index-btn"> Click Me - I'm Javascript on Speed</button>

        <p>This is a example</p>
        <p>This is another example</p>
        <div style="background-color:black; color:white; padding:10px;">

        <img src="{% static "images/priceRealizationED100_sd20.jpg" %}" alt="Picture of Rango" style="width:300px;height:150px;" /> <!-- New line -->
        <img src="{% static "images/demRealizationED100_sd20.jpg" %}" alt="Picture of Rango" style="width:300px;height:150px;" /> <!-- New line -->
        </div>
 <script type="text/javascript" src="{% static 'js/rango-ajax.js' %}"></script>
    </body>
</html>