    <div class="title">Market information</div>


    <table>
        <tr>
            <td style="width: 300px;"> Price last 10 transactions (all transactions):                </td><td> Units:</td>
        </tr>
        <tr>
            <td> <li>Median price :{{ median_price_last10transactions }} ({{ median_price }})</li> </td>
            <td> <li>Units traded: {{ units }}</li> </td>
        </tr>
    <tr>
        <td> <li>Average price: {{ average_price_last10transactions }} ({{ average_price }}) </li> </td>
        <td> <li>Units produced: {{ units_produced }}</li> </td>
        </tr>
    </table>