

<!-- Showing all BUY and SELL offers -->
    <div class="title">All standing market offers</div>
        <div class="scrolltable">
            <table style="width:250px;padding:10px">
                <tr> <th class= "SELLb" colspan="3">SELL</th><th class= "BUYb" colspan="3">BUY</th></tr>
                <tr>
                    <td class= "units">units<br>(cum.)</td><td class= "units">units</td><td class= "SELL">price</td>
                    <td class= "BUY">price</td><td class= "units">units</td><td class= "units">units<br>(cum.)</td>
                </tr>
                {% for offer in combo_offers2 %}
                    <tr>
                        <td class= "units">{% if offer.0.0 < 999999 %} {{ offer.0.2}} {% endif %}</td>
                        <td class= "units">{% if offer.0.0 < 999999 %} {{ offer.0.1}} {% endif %}</td>
                        <td class= "SELL">{% if offer.0.0 < 999999 %} {{ offer.0.0}} {% endif %} </td>
                        <td class= "BUY"> {% if offer.1.0 > -1 %} {{ offer.1.0}} {% endif %} </td>
                        <td class= "units"> {% if offer.1.0 > -1 %} {{ offer.1.1}} {% endif %}</td>
                        <td class= "units">{% if offer.1.0 > -1 %} {{ offer.1.2}} {% endif %}</td>
                    </tr>
                {% endfor %}
            </table>

    </div>