.plotdiv  {
    height:20%;
    width:20%;
	}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header,  menu, nav, section {
	display: block;
}
body {
	line-height: 1
    background-color: red;
}
ol, ul {
	line-height: 1;
    margin: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.setOfferTable{background: white;}
.btnSell {
    background-color:#fba0a0;
    cursor:pointer;font-weight: 900; font-size: 110%;
}

.btnBuy {
    background-color:#c6effb;
    cursor:pointer;font-weight: 900; font-size: 110%;
}

.unitAndPriceInput {
    width: 90px;
}

.messages{
    magin:0;
}

#header {
    width: 100%;
    background-color: red;
    height: 1%;
}

#container3 {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: auto;

}
/* space between columns */
#spacing {
    width: 1%;
    float: left;
    height: 100%;
    background-color: black;
    padding: 0.1%;
    border-style: none;
}


/* col1, prod. cost and trading account*/
#columns1 {
    width: 24%;
    float: left;
    height: 100%;
    padding: 1%;
    border-style: none;
}
/* voucher background*/
#my_vouchers {
    width: 100%;
    float: left;
    height: 100%;
    background-color: WhiteSmoke;
    padding: 1%;
    border-style: none;
}
/* */
#my_vouchers_inside_row1 {
    width: 97%;
    float: left;
    height: 100%
    background-color: WhiteSmoke;
    padding: 1%;
    border-style: none;
}
/* trading account */
#my_vouchers_inside_row1_cell {
        width: 45%;
        float: left;
        height: 100%;
        background-color: WhiteSmoke;
        padding: 1%;
        border-style: none;
}
/* Total Earnings, Profits*/
#my_vouchers_inside_row2 {
    width: 50%;
    float: left;
    height: 10%;
    background-color: WhiteSmoke;
    padding: 1%;
    border-style: none;
}
/* Trading results*/
#my_vouchers_inside_row2_cell {
        width: 50%;
        float: left;
        height: 10%;
        background-color: WhiteSmoke;
        padding: 1%;
        border-style: none;
}

/* coll2, submit offer and all standing market offers */
#columns2 {
    width: 18%;
    float: left;
    height: 100%;
    padding: 0%;
    border-style: none;
}
/* coll3, all transaction plot, market prediction  */
#columns3 {
    width: 46%;
    float: left;
    height: 100%;
    padding: 3%;
    border-style: none;
}
/*plot */
	#c24 {
		width: 100%;
		float: left;
		height: 30%;
		background-color: WhiteSmoke;
		padding: 2%;
		border-style: solid;
		border-width: 1%;
	}
	/* text under plot */
	#all_transactions_text_container2 {
		width: 100%;
		float: left;
		height: 20%;
		background-color: black;
		padding: 0%;
		border-style: none;
	}
	/* */
		#all_transactions_text_container {
			width: 100%;
			float: left;
			height: 10%;
			background-color: WhiteSmoke;
			padding: 1%;
			border-style: solid;
			border-width: 1%;
		}
		#theoretical_predictions_button_container {
			width: 300px;
			float: right;
			height: 90px;
			background-color: black;
			padding: 5px;
			border-style: solid;
			border-width: 3px;
		}
	#spacing_horizontal {
		width: 46%;
		float: left;
		height: 10%;
		background-color: black;
		padding: 0%;
		border-style: none;
	}
	#theoretical_predictions_container {
		width: 46%;
		float: left;
		height: 2%;
		background-color: orange;
		padding: 2%;
		border-style: solid;
		border-width: 1%;
	}
	#theoretical_predictions_text_container {
		width: 46%;
		float: left;
		height: 10%;
		background-color: orange;
		padding: 3%;
		border-style: solid;
		border-width: 1%;
	}

/* submit offer interface */
#c13 {
    width: 100%;
    float: left;
    height: 30%;
    background-color: WhiteSmoke;
    padding: 2%;
    border-style: solid;
    border-width: 1%;

}
/* */
#all_standing_market_offers_container {
    width: 100%;
    float: left;
    height: 65%;
    background-color: WhiteSmoke;
    padding: 2%;
    border-style: solid;
    border-width: 2%;
}
/* */
#all_transactions_digital {
    width: 100%px;
    float: left;
    height: 100%;
    background-color: WhiteSmoke;
    padding: 3%;
    border-style: solid;
    border-width: 1%;
}
/* */
#my_cleared_offers {
    width: 100%;
    float: left;
    height: 100%;
    background-color: WhiteSmoke;
    padding: 3%;
    border-style: solid;
    border-width: 1%;
}
/* */
#c23 {
    width: 100%;
    float: left;
    height: 10%;
    background-color: WhiteSmoke;
    padding: 1%;
    border-style: solid;
    border-width: 1%;
}


/* */

/* */

/* */


/* */


/* */
#clear {
    clear: both;

}

html, body, form, fieldset, table, tr, td, img .btnSell {}

.title {font-weight: 900;text-align: center; width:inherit;}
.mybold {font-weight: 900;text-align: left; width:inherit;}
.SELL {background-color: #fba0a0;text-align: center;}
.BUY {background-color: #c6effb;text-align: center;}
.cSELL {background-color: #fba0a0;text-align: center;font-style: italic;font-weight: 900;font-size: 110%;}
.cBUY {background-color: #c6effb;text-align: center;font-style: italic;font-weight: 900;font-size: 110%;}
.SELLb {background-color: #fba0a0;text-align: center;font-weight: 900;font-size: 110%;}
.BUYb {background-color: #c6effb;text-align: center;font-weight: 900;font-size: 110%;}
.theoretical_predictions_button {background-color: orange;text-align: center;font-weight: 900;font-size: 100%;}
.stop_button {background-color: red;text-align: center;font-weight: 900; font-size: 100%;}

.units {background-color:inherit;text-align: right;}
/* */
.scrolltable {
    height:95%;
    width:100%;
    position:relative;
    overflow: scroll;
    overflow: auto;
    margin: 0;
    padding: 1%;  }
/* */
html, body {
    height: 100%;
    background-color: black;
}