
<div class="scrolltable">
            <table style="width:120px;" >
                <div class="title">All transactions</div>
                <tr>  <td class="units"><b>id</b> </td>  <td class="units"><b>price</b> </td> <td class="units"><b>units</b> </tr>
                {% for transaction in transactions %}
                    <tr>
                    <td> <div id="id" class="units">{{ transaction.id }}</div> </td>
                    <td> <div id="price" class="units">{{ transaction.price }}</div> </td>
                    <td> <div id="units" class="units">{{ transaction.units }}</div> </td>
                    </tr>
                {% endfor %}
            </table>
        </div>