{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Experiment!!</title>
        <link rel="stylesheet" href="//cdn.pydata.org/bokeh/release/bokeh-0.9.2.min.css" type="text/css" />
        <script type="text/javascript" src="//cdn.pydata.org/bokeh/release/bokeh-0.9.2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'dAuction2/style.css' %}" />
        <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
        <script src="{% static "js/dAuction2-jquery.js" %}"></script>

    </head>
<body>

    <div id="all_transactions_digital">
        <div class="scrolltable">
            <table style="width:120px;" >
                <div class="title">All transactions</div>
                <tr>  <td class="units"><b>id</b> </td>  <td class="units"><b>price</b> </td> <td class="units"><b>units</b> </tr>
                {% for transaction in transactions %}
                    <tr>
                    <td> <div id="id" class="units">{{ transaction.id }}</div> </td>
                    <td> <div id="price" class="units">{{ transaction.price }}</div> </td>
                    <td> <div id="units" class="units">{{ transaction.units }}</div> </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>



    <div id="c13">
    <!-- Error message for when player doesnt fill out price or units -->
        {% if messages %}
            Your offer was not processed:
            <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>


    <!-- Showing MY standing offer -->
    <div id="my_standing_offer">
        {% include 'dAuction2\my_standing_offer.html' %}
    </div>



    <div id="all_standing_market_offers">
        {% include 'dAuction2\all_standing_market_offers.html' %}
    </div>




    <div id="c23">
            <!-- Showing all MY CLEArED offers -->
        <div class="title">My cleared offers</div>
        <div class="scrolltable">
            <table style="width:280px;" >
                <tr> <td><b>id</b></td>   <td><b>price</b> </td> <td><b>units</b> </td><td><b>SELL or BUY</b> </td></tr>
                {% for offer in myOffers %}
                    {% if offer.type == "SELL" %}<tr class= "SELL"> {% else %}<tr class="BUY"> {% endif %}
                    <td> {{ offer.id }} </td>
                    <td> <div id="price">{{ offer.price }}</div> </td>
                    <td> <div id="units">{{ offer.initUnits }}</div> </td>
                    <td> <div id="sell">{{ offer.type }}</div> </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="my_cleared_offers">
       {% include 'dAuction2\my_cleared_offers.html' %}
    </div>

    <!-- Showing All transactions -->
    <div id="all_transactions">
        {% include 'dAuction2\all_transactions.html' %}
    </div>

    <div id="all_transactions_text">
        {% include 'dAuction2\all_transactions_text.html' %}
    </div>






    <div id="my_vouchers">
           <!-- Showing all values -->
        {% include 'dAuction2\my_vouchers.html' %}
    </div>

    <div id="theoretical_predictions_text">
        {% if Constants.show_theory %}
            <div class="theoretical_predictions_text_container" id="theoretical_predictions_text_container">
                {% include 'dAuction2\theoretical_predictions_text.html' %}
            </div>
        {% endif %}
    </div>


    <div id="theoretical_predictions">
        {% if Constants.show_theory %}
            <div class="theoretical_predictions_container" id="theoretical_predictions_container">
                {% include 'dAuction2\theoretical_predictions.html' %}
            </div>
        {% endif %}
    </div>

</body>
</html>